streamlit==1.45.1

langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-text-splitters==0.2.4
langchain-groq==0.1.10

openai==1.57.4
huggingface_hub
sentence-transformers

chromadb
faiss-cpu
duckdb

pandas
numexpr

PyPDF2
pypdf
pymupdf

python-dotenv

validators==0.34.0

youtube-transcript-api==0.6.2
pytube

beautifulsoup4
lxml
html5lib
unstructured==0.16.11

wikipedia
arxiv

duckduckgo-search==5.3.1b1

mysql-connector-python
SQLAlchemy
pyodbc

gradio

ipykernelarxiv
beautifulsoup4
chromadb
duckdb
duckduckgo-search
duckduckgo_search==5.3.1b1
faiss-cpu
huggingface_hub
ipykernel
langchain
langchain-chroma
langchain-community
langchain-groq
langchain-huggingface
langchain-openai
langchain-ollama
langchain-text-splitters
mysql-connector-python
numexpr
openai
pandas
pymupdf
PyPDF2
python-dotenv
pytube
pypdf
sentence_transformers
SQLAlchemy
streamlit
unstructured
validators==0.28.1
wikipedia
youtube_transcript_api
pyodbc 
sqlalchemy
unstructured
pytube
numexpr
gradio
